-e git+git@gitlab.control.lth.se:gosda/master-project.git@8ece398c666598c99ead77d9afa4eadc78d6a7ce#egg=abb_egm_pyclient&subdirectory=python/abb_egm_pyclient
cycler==0.11.0
data==0.1.0
-e git+git@gitlab.control.lth.se:gosda/master-project.git@8ece398c666598c99ead77d9afa4eadc78d6a7ce#egg=data_libs&subdirectory=python
decorator==5.1.1
evdev==1.5.0
fonttools==4.32.0
freetype-py==2.3.0
imageio==2.19.2
keyboard==0.13.5
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.5.1
networkx==2.2
numpy==1.22.3
packaging==21.3
pandas==1.4.3
Pillow==9.1.0
protobuf==3.20.0
pybind11==2.9.1
pycollada==0.6
pyglet==1.5.24
PyOpenGL==3.1.0
pyparsing==3.0.8
pyrender==0.1.45
pyserial==3.5
python-dateutil==2.8.2
python-statemachine==0.8.0
python-xlib==0.31
pytz==2022.1
PyYAML==6.0
scipy==1.8.0
six==1.16.0
tikzplotlib==0.10.1
tqdm==4.64.0
transforms3d==0.3.1
trimesh==3.12.0
urdf-parser-py==0.0.4
urdfpy==0.0.22
webcolors==1.12
